@model Recipe.Models.UserDash

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.Bio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Bio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.User.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<section class="best-receipe-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>The best Receipies</h3>
                </div>
            </div>
        </div>

        <div class="row">

            @foreach (var item in Model?.recipeMs ?? Enumerable.Empty<RecipeM>())
            {
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        <img src="img/bg-img/r1.jpg" alt="">
                        <div class="receipe-content">
                            <a href="receipe-post.html">
                                <h5>@item.Title</h5>
                            </a>
                            <div>
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            </div>
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

