@using System.Security.Claims
@model Recipe.Models.RecipeM

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center mt-5">Delete Recipe</h1>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 class="text-center">Are you sure you want to delete this recipe?</h3>
            <hr />
            @if (ViewBag.Message != null)
                {
                    <div style="color:green;" class="form-group">@ViewBag.Message</div>
                }
            <div>
                <h4>Recipe Details</h4>
                <dl class="row">
                    <dt class="col-sm-3">Title:</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Title)</dd>

                    <dt class="col-sm-3">Description:</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>

                    <dt class="col-sm-3">Ingredients:</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Ingredients)</dd>

                    <dt class="col-sm-3">Steps:</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Steps)</dd>

                    <dt class="col-sm-3">Cooking Time:</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.CookingTime)</dd>

                    <dt class="col-sm-3">Category:</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Category)</dd>

                    <dt class="col-sm-3">User ID:</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.UserId)</dd>
                </dl>

                <form asp-action="Delete" class="text-center mt-4">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger">Delete</button> |
                    @{
                        var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
                        <a asp-controller="Users" asp-action="Details" asp-route-id="@userId" class="btn btn-secondary">Back to Profile</a>
                    }
                    
                </form>
            </div>
        </div>
    </div>
</div>


